flake8==6.0.0
Flask==2.2.2
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
Flask-SQLAlchemy==3.0.2
Flask-Migrate==4.0.4
isort==5.11.4
marshmallow==3.19.0
marshmallow-sqlalchemy==0.28.1
pytest==7.2.0
SQLAlchemy==1.4.45